<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>caballero_abajo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,42},{34,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,41}}</string>
				<key>sourceSize</key>
				<string>{34,41}</string>
			</dict>

			<key>caballero_abajo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{34,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,41}}</string>
				<key>sourceSize</key>
				<string>{34,41}</string>
			</dict>

			<key>caballero_arriba_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{34,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,41}}</string>
				<key>sourceSize</key>
				<string>{34,41}</string>
			</dict>

			<key>caballero_arriba_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{34,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,41}}</string>
				<key>sourceSize</key>
				<string>{34,41}</string>
			</dict>

			<key>caballero_derecha_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,84},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,41}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>

			<key>caballero_derecha_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,126},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,41}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>

			<key>caballero_izquierda_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,210},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,41}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>

			<key>caballero_izquierda_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,41}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>

			<key>caballero_quieto_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{36,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,41}}</string>
				<key>sourceSize</key>
				<string>{36,41}</string>
			</dict>

			<key>caballero_quieto_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,42},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,41}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>caballero.png</string>
			</dict>
		</dict>
</plist>