<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>caballero_muerte_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{33,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{33,40}}</string>
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>

			<key>caballero_muerte_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{32,35}}</string>
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,128}</string>
			<key>textureFileName</key>
			<string>caballero_muerte.png</string>
			</dict>
		</dict>
</plist>